@media(max-width: 1400px) {
 .container {
  max-width: 1180px;
 } 
}


@media(max-width: 1200px) {
  .container {
    max-width: 970px;
   } 
}


@media(max-width: 960px) {
  .container {
    max-width: 760px;
   } 
}



@media(max-width: 768px) {
  .container {
    max-width: 570px;
  }
}


@media(max-width: 576px) {
  .container {
    max-width: 400px;
  }
}