@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  
  width: 170px;
  height: 34px;
  background-color: #fff;
  
}

button:hover {
  transition: filter 0.5s;
  filter: brightness(0.92);
}

.blue-text {
  color: #0275B1;
  font-weight: bold;
}

.blue-light-text {
  color: #0275B1;
  font-weight: bold;
}

/* HEADER */

header {
  display: grid;
  align-items: center;
  grid-template-columns: 205px 600px 460px 435px 150px;
}

header > div, header > nav {
  display: flex;
  align-items: center;

  border-right: 2px solid #F4F4F4;
  padding: 20px 40px;
  height: 100%;
}

header > div:first-child, header > nav {
  justify-content: center;
}

header > nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

header > nav ul li a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
  font-weight: 500;
  position: relative;
  color: #181818;
}

header nav ul li:nth-child(4) > a img:first-child {
  position: absolute;
  top: -5px;
  right: 5px;
}

header > div:nth-child(3) {
  gap: 20px;
}

header > div:nth-child(3) > div {
  display: flex;
  align-items: center;
  width: 60%;
  position: relative;
}

header > div:nth-child(3) img {
  position: absolute;
  left: 5px;
}

header > div:nth-child(3) input {
  width: 100%;
  border: none;
  padding: 10px 40px;
 
  color: #181818
}

header > div:nth-child(3) input::placeholder {
  font-size: 16px;
  color: #CECECE;

}

header > div:nth-child(4) {
  gap: 20px;
}

header > div:nth-child(4) img {
  border-radius: 100%;
  width: 50px;
  object-fit: cover;
}

header > div:nth-child(4) p {
  font-weight: 500;
  margin-bottom: 5px;
}

header > div:nth-child(4) p span {
  margin-left: 10px;
  color: rgba(24, 24, 24, 20%)
}

header > div:nth-child(4) small {
  color: #747474;
}

header > div:nth-child(4) small span {
  color: #02B033;
}

header > div:nth-child(4) small span::after {
  content: " ";
  display: inline-block;
  margin-left: 5px;
  background: url("../assets/arrowup.png") no-repeat;
  background-position: 0 8px;
  background-size: 15px;
  height: 20px;
  width: 15px
}

header > div:nth-child(5){
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}


/* CONTENT MAIN */

.content-main {
  background-color: #F7F9FB;
}

.content-main .container { 
  display: grid;
  grid-template-columns: 1fr 400px;

  padding: 60px 0px;
  gap: 40px;
}
.content-main .container main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* SECTION PROFILE */

.profile {
  height: 400px;
  background-color: #fff;
}

.profile > div {
  height: 50%;
}

.profile > div:first-child {
  position: relative
}

.profile > div:first-child > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile .tools {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  top: 25px;
  position: absolute;
}

.profile .tools div:last-child {
  margin-right: 40px;
  display: flex;
  gap: 20px;
}

.profile .tools > button {
  margin-left: 40px;
} 

.profile .tools > button, .profile .tools > div button:last-child {
  height: 40px;
  width: 40px;
}

.profile .tools > div button:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 160px;
  height: 40px;
}

.profile .tools > div button:last-child img {
  transform: rotate(90deg);
}

.profile > div:last-child {
  display: grid;
  grid-template-columns: 250px 1fr;
}

.profile > div:last-child > div:first-child {
  display: flex;
  justify-content: center;
  position: relative;
}

.profile > div:last-child > div:first-child img{
  width: 200px;
  border-radius: 100%;
  border: 10px solid #fff;
  bottom: 40px;
  position: absolute;
}

.profile > div:last-child > div:last-child{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px 20px 0;
}

.profile > div:last-child > div:last-child > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile > div:last-child > div:last-child > div:first-child > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile > div:last-child > div:last-child > div:first-child > div img{
  width: 20px;
}

.profile > div:last-child > div:last-child button {
  font-weight: bold;
}

.profile > div:last-child > div:last-child button:first-child {
  background-color: #0077B5;
  color: #fff;
  margin-right: 15px;
}

.profile > div:last-child > div:last-child button:last-child {
  background-color: #fff;
  color: #0077B5;
  border: 1px solid #0275B1;
}

/* SECTION ABOUT */

.about > div:first-child {
  border-bottom: 1px solid #E7E7E7;
}

.about > div:first-child > div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-end;
  width: 80%;
}

.about > div:first-child > div button{
  width: 100%;
  min-width: 60px;
  font-weight: bold;
  border-radius: 0;
}

.about > div:first-child button:first-child {
  height: 60px;
  background-color: #0077B5;
  color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.about > div:first-child button:not(button:first-child){
  height: 50px;
  border-top: 1px solid #E7E7E7;
  border-right: 1px solid #E7E7E7;
}

.about > div:first-child > div button:last-child {
  border-top-right-radius: 4px;
}

 .about > div:last-child{
  display: flex;
  flex-direction: column;
  gap:20px;
  padding: 50px 45px 30px 45px;

  text-align: left;
  background: linear-gradient(0deg, rgba(255,255,255,1) 60%, rgba(241,244,248,1) 100%);
}

/* SECTION PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 45px;
  height: 420px;
  background-color: #fff;

}

.projects > div:first-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.projects-grid > div img {
  width: 100%;
  margin-bottom: 15px;
}

.projects-grid > div h4 {
  margin-bottom: 10px;
}

/* SECTION SKILLS */

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
  height: 260px;
  gap: 20px;

  padding: 20px 45px;
  background-color: #fff;
}

.skills > div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 25px;
}

.skills > div > div {
  border: 2px solid #F4F4F4;
  border-radius: 6px;
  padding: 20px;
}

.skills > div > div > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* SECTION EXPERIENCE, EDUCATION*/

.experience, .education {
  padding: 30px 45px;
  background-color: #fff;
}

.experience img, .education img {
  width: 54px;
}
.experience h1, .education h1 {
  margin-bottom: 27px;
}

.experience-card, .education-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
  gap: 20px;
  font-size: 14px;
}

.experience-card p, .education-card p {
  font-weight: 400;
}

.experience-card h3, .education-card h3 {
  padding-bottom: 15px;
}

.experience-card div:nth-child(2) > div small {
  font-size: 14px;
  font-weight: 500;
  padding-right: 15px;
}

.experience-card div:nth-child(3) > small {
  font-size: 14px;
  font-weight: 900;
  color: #0275B1;
  padding-left: 15px;
}

.experience-card div:nth-child(2) > div, .education-card div:nth-child(2) > div {
  padding-bottom: 15px;
}

.education-card div div > span {
  padding-top: 20px;
}

hr {
  margin: 25px 0 20px 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #F4F4F4;
}

/* ASIDE */

aside {
  display: grid;
  grid-template-rows: 400px 500px 400px ;
  gap: 30px;
}

aside > section, aside {
  max-width: 100%;
}

.dashboard, .visitors, .courses {
  background: #fff;
}

/* SECTION DASHBOARD */

.dashboard, .visitors, .courses {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 45px;
}

.dashboard > div:first-child, .visitors > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #F4F4F4;
}

.dashboard > div:last-child {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 100%;
}

.dashboard > div:last-child > div h2 {
  font-size: 56px;
}

/* SECTION VISITORS */

.visitors > div:last-child {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.visitors > div:last-child > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.visitors > div:last-child > div img {
  width: 60px;
  border-radius: 100%;
}

/* SECTION COURSES */

.courses > h1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #F4F4F4;
}

.courses > div {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.courses > div > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.courses > div > div > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.courses > div > div > div:first-child img:first-child {
  width: 100px
}

.courses > div > div > div:first-child img:last-child {
  position: absolute;
}

.courses > div > div h3 {
  word-wrap: normal;
}

/* FOOTER */

footer {
  width: 215px;
  background-color: #E7E7E7;
  width: 100%;
}

.footer-content {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 3fr;
  gap: 50px;
  padding: 20px;
}

.footer-content img:first-child {
  width: 46px;
  margin-top: 12px;
}
.footer-content ul li a {
  color: black;
}

.footer-content div p {
  font-size: 14px;
  font-weight: bolder;
  margin-top: 12px;
}

.footer-content div span {
  color: #0275B1;
}

.footer-tittle {
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 23px;
}

.footer-ul {
  margin-top: 30px;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

.footer-ul li {
  padding-bottom: 15px;
}

.footer-buttons button {
  display: flex;
  justify-content: space-between;
  padding: 11px;
  align-items: center;
}

.footer-buttons button:first-child {
  background-color: #0275B1;
  margin-bottom: 10px;
}

.footer-buttons button:first-child span:nth-child(1) {
  color: white;
}

.footer-buttons img {
  width: 16px;
}

select {
  padding: 9px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-appearance:none; 
  background: #fff url(./assets/chevron-down.png)  no-repeat;
  width: 270px;
  height: 32px;
  display: flex;
}

.select {
  display: flex;
  align-items: center;
}

.select img {
  width: 14px;
  height: 14px;
  margin-left: -20px;
}

/* PAGE FEED */

.feed > section:first-child, .list-posts > div, .feed-right > section {
  background-color: #fff;
} 

.feed, .list-posts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* SECTION NEW POST */

.new-post  {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 40px;
}

.new-post > div:first-child {
  border-bottom: 2px solid #F4F4F4;
  padding-bottom: 30px;
}

.new-post > div:last-child {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: rgba(24, 24, 24, 0.2);
}

.new-post div:last-child > div {
  display: flex;
  align-items: center;
  gap: 30px;
}

/* SORT TRENDING */

.feed > div, .feed > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.feed > div > div {
  width: 100%;
  gap: 30px;
}

.feed > div > div span {
  display: flex;
}

.feed > div > div span::after {
  content: "";
  margin-left: 10px;
  height: 10px;
  width: 15px;
  background: url("../assets/chevron-down.png");
}

.feed > div > div::before, .feed > div > div::after {
  content: "";
  width: 40%;
  height: 2px;
  background-color: #E7E7E7;
}

/* POST IMAGE */

.post-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post-image > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #F4F4F4;
}

.post-image > div:first-child button {
  width: 50px;
}

.post-image > div:nth-child(2) {
  padding: 10px 40px;
}

.post-image > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.post-image > div:nth-child(2) > img {
  width: 100%;
}

.post-image > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.post-image > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #F4F4F4;
  padding: 0 40px;
}

.post-image > div:last-child > div {
  display: flex;
  height: 100%;
}

.post-image > div:last-child button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0;
  gap: 10px;
  height: 100%;
  padding: 20px 0;
}

.post-image > div:last-child > div > button {
  border-right: 1px solid #F4F4F4;
  width: 100px;
}

.post-image > div:last-child > button {
  gap: 10px;
  border-left: 1px solid #F4F4F4;
  width: 120px
}




/* ASIDE FEED-RIGHT */

.feed-right {
  display: grid;
  grid-template-rows: 350px 100px auto ;
}


/* SECTION USER */

.user {
  display: grid;
  grid-template-rows: 40% 1fr;
}

.user > div:first-child img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.user > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 10px;
  padding: 20px 40px;
  position: relative;
}

.user > div:last-child > div {
  display: flex;
  align-items: center;

  gap: 10px;
  margin-top: 60px;
}

.user > div:last-child > img {
  position: absolute;
  width: 110px;
  top: -40px;
  border-radius: 100%;
  border: 6px solid #fff;
}

/* SECTION NEW-ARTICLE */

.new-article {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
}

.new-article button {
  width: 100%;
  background: linear-gradient(0deg, rgba(14,103,149,1) 0%, rgba(0,119,181,1) 100%);
  color: #fff;
  font-weight: 700;
}

/* SECTION GROUPS */

.groups {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 400px;
}

.groups > div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #F4F4F4;
  padding: 20px 40px;
}

.groups > div:nth-child(2){
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 40px;
}

.groups > div:nth-child(2) > div {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: center;
  gap: 20px;
  
  padding: 20px;
  border: 1px solid #F4F4F4;
  border-radius: 6px;
}

.groups > div:nth-child(2) > div img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.groups > div:nth-child(3) {
  padding: 20px 45px;
}
